<!-- Second navbar for sign in -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('todo_homepage') }}">Just get busy</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('todo_task_add') }}">Ajouter</a></li>
            {% if is_granted("ROLE_ADMIN") %}
              <li><a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-outline btn-circle collapsed"><i class="fa fa-sign-out"></i> Sign out</a></a></li>
            {% else %}  
              <li><a href="{{ path('fos_user_security_login') }}" class="btn btn-default btn-outline btn-circle collapsed" ><i class="fa fa-sign-in"></i> Sign in</a></a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->