{% extends 'TodoBundle::layout.html.twig' %}

{% block content %}

	<div class="col-sm-8 col-sm-offset-2">
		<a href="#" class="message-show">Accueil admin</a>


		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

			{# Les erreurs générales du formulaire. #}
			{{ form_errors(form) }}
			<div class="form-group">
				{{ form_errors(form.titre) }}
				{{ form_label(form.titre) }}
				{{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_errors(form.description) }}
				{{ form_label(form.description) }}
				{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_errors(form.date) }}
				{{ form_label(form.date) }}
				{{ form_widget(form.date, {'attr': {'class': ''}}) }}
			</div>


			<div class="form-group">
				{{ form_rest(form) }}	
			</div>


			{# Fermeture de la balise <form> du formulaire HTML #}
		{{ form_end(form) }}
	</div>

{% endblock content %}