{% extends 'TodoBundle::layout.html.twig' %}

{% block content %}

		{% block value %}
			{{ render(controller("TodoBundle:Importance:index")) }}
		{% endblock value %}

	{% for task in tasks %}

		<div class="row">
			{% for message in app.session.flashbag.get("info") %}
				<div class="alert alert-success col-xs-4 text-center">
					{{ message }}
				</div>
			{% endfor %}

			<div class="clearfix"></div>

			<div class="panel-content col-sm-6">
				<p>- <span class="task-titre-title">Tâche</span> : <span class="task-titre-content">{{ task.titre }}</span> </p><span class=""></span>
				<p>- <span class="task-importance-title">Priorité</span> : <span class="task-importance-content">{{ task.importance.name }}</span> </p>
				<p>- <span class="task-date-title">Date</span> : <span class="task-date-content">{{ task.date|date('d/m/Y') }}</span> </p>
			</div>
			<div class="panel-actions col-sm-6">
				<a href="{{ path('todo_task_show', {id:task.id }) }}" class="btn btn-primary">Voir</a>
				{% if is_granted("ROLE_ADMIN") %}
					<a href="{{ path('todo_task_edit', {id:task.id }) }}" class="btn btn-warning">Modifier</a>
					<a href="{{ path('todo_task_delete', {id:task.id }) }}" class="btn btn-danger">Supprimer</a>
				{% endif %}				
			</div>
		</div>
		<hr>
		{% endfor %}
	</div>

{% endblock content %}