{% extends 'TodoBundle::layout.html.twig' %}

{% block content %}

		<div class="row">
			<div class="panel-content col-sm-6">
				<div class="clearfix"></div>

				<h1>{{ task.titre }}</h1>

				<p>- <span class="task-description-title">Description</span> : <br>

				<span class="task-description-content">{{ task.description }}</span> </p>
				<p>- <span class="task-date-title">Date</span> : <span class="task-date-content">{{ task.date|date('d/m/Y') }}</span> </p>
				<p>- <span class="task-importance-title">Priorité</span> : <span class="task-importance-content">{{ task.importance.name }}</span> </p>
			</div>
			<div class="panel-actions col-sm-6">
				<a href="{{ path('todo_task_show', {id:task.id }) }}" class="btn btn-primary">Voir</a>
				{% if is_granted("ROLE_ADMIN") %}
					<a href="{{ path('todo_task_edit', {id:task.id }) }}" class="btn btn-warning">Modifier</a>
					<a href="{{ path('todo_task_delete', {id:task.id }) }}" class="btn btn-danger">Supprimer</a>
				{% endif %}				
			</div>
		</div>
		<hr>
	</div>
	

{% endblock content %}