{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="form-group">
	    <label for="username">Email</label>
	    <input type="text" id="email" name="_username" value="{{ last_username }}" required="required" />
	</div>

	<div class="form-group">
	    <label for="password">{{ 'security.login.password'|trans }}</label>
	    <input type="password" id="password" name="_password" required="required" />
	</div>

	<div class="form-group">
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
	</div>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-default"/>
</form>
{% endblock fos_user_content %}
