{% extends 'TodoBundle::layout.html.twig' %}

{% block content %}

		<div class="row">
			<div class="panel-content col-sm-6">

				<h1>{{ entity.name }}</h1>

				<div class="panel-content col-sm-6">
					{% for e in entity.todo %}
						<p>- <span class="entity-titre-title">Tâche</span> : 
							<a href="{{ path('todo_task_show', {id:e.id }) }}" class="entity-titre-content">
								{{ e.titre }}
							</a>
						</p>
						<p>- <span class="entity-date-title">Date</span> : 
							<span class="entity-date-content">
								{{ e.date|date('d/m/Y') }}
							</span>
						</p>
						{% if not loop.last %}
							<hr>
						{% endif %}
					{% endfor %}	
				</div>
			</div>
		</div>
		<hr>
	

{% endblock content %}