{% extends '::base.html.twig' %}


{% block stylesheets %}
	<!-- Bootstrap Core CSS -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/readable/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{{ asset("css/style.css") }}">
	<link rel="stylesheet" href="{{ asset("css/nav.css") }}">
{% endblock stylesheets %}


{% block body %}
	{% block nav %}
		{% include 'TodoBundle:_components:navigation.html.twig' %}
	{% endblock nav %}

	<div class="container">
		{% block content %}
		{% endblock content %}
	</div>
{% endblock body %}


  {% block javascripts %}
	  {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	  <script src="{{ asset("js/.js") }}"></script>
  {% endblock javascripts %}